{% extends "stripe/demo_low_code/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <p>Your payment was cancelled.</p>
            <br/>
            <button class="button is-primary" type="button"
                    onclick="window.location.href='{{ url_for( 'stripe_index') }}';">回到首頁!
            </button>
        </div>
    </section>
{% endblock %}