{% extends "stripe/demo_low_code/base.html" %}

{% block content %}
    <section class="section">
        <div class="row">
            <div class="column" style="float: left; width: 20%;">
                <div class="container">
                    信用卡
                    <li>付款成功：4242 4242 4242 4242</li>
                    <li>付款失敗：4000 0000 0000 9995</li>
                    <li>需要認證：4000 0025 0000 3155</li>
                    <br/>
                    信用卡期限、安全碼 可任意填入
                </div>
            </div>
            <div class="column" style="float: left; width: 40%;">
                <div class="container">
                    <h1>基本方案-月扣款 （無試用期、不開放輸入優惠碼）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn1">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>基本方案-月扣款 （30天試用期、自動帶入優惠碼）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn6">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>基本方案-月扣款 （30天試用期、自動帶入預設付款方式）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn7">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>查看客戶 【當前訂閱方案】、【過去付款資料】及【變更付款方式】</h1>
                    <br/>
                    <form method="POST" action="/stripe/demo/low-code/customer-portal">
                        <button class="button is-primary">Manage billing</button>
                    </form>
                </div>
                <hr/>
            </div>
            <div class="column" style="float: left; width: 40%;">
                <div class="container">
                    <h1>基本方案-月扣款 （30天試用期、優惠碼 GROWIN）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn2">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>進階方案-月扣款 （30天試用期、優惠碼 GROWIN）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn3">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>基本方案-年扣款 （30天試用期、優惠碼 GROWIN）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn4">Purchase!</button>
                </div>
                <hr/>
                <div class="container">
                    <h1>進階方案-年扣款 （30天試用期、優惠碼 GROWIN）</h1>
                    <br/>
                    <button class="button is-primary" id="submitBtn5">Purchase!</button>
                </div>
                <hr/>
            </div>
        </div>
    </section>
{% endblock %}